.skill-chip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.2em;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color:transparent;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border: 1px solid gray;
   text-transform: lowercase;
    .name{
        font-size: 1.5rem;
        color: white;

    }
    .bar{
        height: 5px;
    position: absolute;
    left: 0;
    bottom: -5px;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    opacity: 0;
    transition: all .3s;
    width: 50%;

    }
    &:hover {
        .bar{
            background-color: rgba(18, 212, 242, 0.82);
            opacity: 1;
        }
    }
}