.heading{
    .symbol{
        color: rgb(224, 58, 32);
        font-size: 2rem;
        text-align: center;
    }
    .title{
        color: white;
        font-size: 4rem;
        font-family: glitch-bold;
        @media (max-width:600px) {
           font-size: 3rem;
        }
    }
}