.heading{
    .symbol{
        color: rgb(224, 58, 32);
        font-size: 2rem;
        text-align: center;
    }
    h1 {
        font-size: 3rem;
        color: white;
        
        --x-offset: -0.0625em;
        --y-offset: 0.0625em;
        --stroke: 0.025em;
        --background-color: rgb(116, 194, 194);
        --stroke-color: rgb(21, 22, 22);
        
        text-shadow: 
          
          var(--x-offset)
          var(--y-offset)
          0px
          var(--background-color), 
          
          calc( var(--x-offset) - var(--stroke) )
          calc( var(--y-offset) + var(--stroke) )
          0px
          var(--stroke-color);
          @media (max-width:600px) {
            font-size: 2rem;
          }
        
      }       
      }
  