.heading{
    .symbol{
        color: rgb(224, 58, 32);
        font-size: 2rem;
        text-align: center;
    }
    .title{
        color: white;
        font-size: 5rem;
        font-family: glitch-bold;
    }
}