:root {
  color: rgb(237, 202, 78);
  background-color: #242424;
}
@font-face {
  font-family: glitch;
  src: url(../public/fonts/Parametric-Glitch.woff);
}
@font-face {
  font-family: glitch-bold;
  src: url(../public/fonts/Parametric-Glitch-Bold.woff);
}
body {
  margin: 0;
  font-family: glitch;

}

