:root {
  color: rgb(237, 202, 78);
  background-color: #242424;
  
}
@font-face {
  font-family: glitch;
  src: url(/fonts/Parametric-Glitch.woff);
}
@font-face {
  font-family: glitch-bold;
  src: url(/fonts/Parametric-Glitch-Bold.woff);
}
body {
  margin: 0;
  font-family: glitch;
  overflow-x: hidden;

}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray; 
}

::-webkit-scrollbar-thumb:hover {
  background: #131212; 
}

